echo "/[Ll]ibrary/" >> .gitignore
echo "/[Tt]emp/" >> .gitignore
echo "/[Oo]bj/" >> .gitignore
echo "/[Bb]uild/" >> .gitignore
echo "/[Bb]uilds/" >> .gitignore
echo "/[Ll]ogs/" >> .gitignore
echo "/[Mm]emory[Cc]aptures/" >> .gitignore
echo "*.csproj" >> .gitignore
echo "*.unityproj" >> .gitignore
echo "*.sln" >> .gitignore
echo "*.user" >> .gitignore
echo "*.userprefs" >> .gitignore
echo "*.pidb" >> .gitignore
echo "*.booproj" >> .gitignore
echo "*.svd" >> .gitignore
echo "*.pdb" >> .gitignore
echo "*.mdb" >> .gitignore
echo "*.opendb" >> .gitignore
echo "*.VC.db" >> .gitignore
echo "*.pidb.meta" >> .gitignore
echo "*.pdb.meta" >> .gitignore
echo "*.mdb.meta" >> .gitignore
echo "*.opendb.meta" >> .gitignore
echo "*.VC.db.meta" >> .gitignore
echo "sysinfo.txt" >> .gitignore
/[Tt]emp/
.vs/
